LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

127 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "File(&F)"
  {
    MENUITEM "New Map",  32819
    MENUITEM "Load Map",  57601
    MENUITEM "Save Map\tCtrl+S(&S)",  57603
    MENUITEM "Save as(&A)...",  57604
    MENUITEM SEPARATOR
    MENUITEM "[Pro] Encrypt Files Individually (.wolfx)",  33076
    MENUITEM "Create Game Data(&G)",  32846
    MENUITEM SEPARATOR
    MENUITEM "Exit Editor(&X)",  57665
  }
  POPUP "Edit(&E)"
  {
    MENUITEM "Cut Event \tX",  57635
    MENUITEM "Copy Event \tC",  57634
    MENUITEM "Paste Event \tV",  57637
    MENUITEM "Delete\tDel or BS",  32794
    MENUITEM "Map Settings",  32814
  }
  POPUP "View(&V)"
  {
    MENUITEM "Toolbar\t(&T)",  59392
    MENUITEM "Tileset Editor",  32792
    MENUITEM "System Database (Core Data)",  32797
    MENUITEM "User Database (Fixed Values Data)",  32790
    MENUITEM "Variable Database (Changeable Data)",  32831
    MENUITEM "Common Events",  32815
    MENUITEM "Map Selection",  32823
    MENUITEM "Task List",  33108
  }
  POPUP "Layers"
  {
    MENUITEM "Layer 1",  32771
    MENUITEM "Layer 2",  32772
    MENUITEM "Layer 3",  32773
    MENUITEM "Layer 4",  33084
    MENUITEM "Layer 5",  33085
    MENUITEM "Events",  32774
  }
  POPUP "Game Settings"
  {
    MENUITEM "Open Game Settings",  32830
    MENUITEM "Open Game Settings [Pro]",  33066
    MENUITEM "Set Protection Key [Pro]",  33069
    MENUITEM SEPARATOR
    MENUITEM "Open Config for Game.exe",  32865
    MENUITEM "Use Debug Window [Check = Use]",  32942,  CHECKED
  }
  POPUP "Options"
  {
    MENUITEM "Editor Options",  32943
  }
  POPUP "Help(&H)"
  {
    MENUITEM "WOLF RPG Editor Version Info \t(&A)",  57664
    MENUITEM "WOLF RPG Editor Official Site [JPN]",  32871
    POPUP "└Variable Reference/Special Characters Index"
    {
      MENUITEM "Open Variable Reference [JPN] ",  33090
      MENUITEM "Open Special Characters [JPN] ",  33092
    }
    MENUITEM "WOLF RPG Editor Manual [JPN] \t(&M)",  32861
    MENUITEM "Perfect Guide Site [JPN]",  32872
    MENUITEM "Open Specification Change Info",  33073
  }
}

146 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "Move Command"
  {
    MENUITEM "Move Down",  32798
    MENUITEM "Move Left",  32799
    MENUITEM "Move Right",  32800
    MENUITEM "Move Up",  32801
    MENUITEM "Move Down-Left",  32802
    MENUITEM "Move Down-Right",  32803
    MENUITEM "Move Up-Left",  32804
    MENUITEM "Move Up-Right",  32805
  }
  POPUP "Direction Command"
  {
    MENUITEM "Face Down",  32806
    MENUITEM "Face Left",  32807
    MENUITEM "Face Right",  32808
    MENUITEM "Face Up",  32809
    MENUITEM "Face Down-Left",  32810
    MENUITEM "Face Down-Right",  32811
    MENUITEM "Face Up-Left",  32812
    MENUITEM "Face Up-Right",  32813
  }
  POPUP "Edit"
  {
    MENUITEM "Cut \t&X",  33048
    MENUITEM "Copy \t&C",  33050
    MENUITEM "Paste \t&V",  33052
    MENUITEM "Delete\t&Del",  33054
  }
}

172 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "TEST"
  {
    MENUITEM "Create/Edit Event",  32852
    MENUITEM SEPARATOR
    MENUITEM "Cut Event\t&X",  57635
    MENUITEM "Copy Event\t&C",  57634
    MENUITEM "Paste Event\t&V",  57637
    MENUITEM "Delete\t&Del",  32794
    MENUITEM SEPARATOR
    MENUITEM "Open [Settings] of This Map",  32814
    MENUITEM "Reload Map Chip Images",  32818
    POPUP "Other Menus"
    {
      MENUITEM "Create New Map",  33083
      MENUITEM "Open Map List",  32823
    }
    MENUITEM SEPARATOR
    MENUITEM "Set Game Start Position",  32855
    MENUITEM "Save Position to DB",  32853
  }
}

216 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "Open Command Insert Window\t&Enter",  32954
    MENUITEM "Edit Command\tCtrl+&Space",  32953
    MENUITEM "Continue Command\t&Ctrl+Shit+Space",  33089
    MENUITEM SEPARATOR
    MENUITEM "Cut\t&X",  32946
    MENUITEM "Copy\t&C",  32958
    MENUITEM "Paste\t&V",  32959
    MENUITEM "Delete\t&Del",  32960
    MENUITEM "Select All\t&A",  33044
    MENUITEM SEPARATOR
    MENUITEM "Fold/Unfold\t&E",  33094
    POPUP "Fold/Unfold All"
    {
      MENUITEM "Fold All",  33096
      MENUITEM "Unfold All",  33097
    }
    MENUITEM "Put Into Loop [0] Time\t&Q",  33101
    MENUITEM "Change Loop from 1 to 0 Time (Be Ignored)\t&Q",  33102
    MENUITEM "Change Loop from 0 to 1 Time (Be Processed)\t&Q",  33103
    MENUITEM "Jump to Next Case\t(Shift+:Previous) &G",  33095
    MENUITEM SEPARATOR
    MENUITEM "Copy Command String to Clipboard\tCtrl+Shift+C",  32962
    MENUITEM "Copy Event Code to Clipboard\tCtrl+Alt+C",  32963
    MENUITEM "Paste Event Code from Clipboard\tCtrl+Alt+V",  32957
  }
  POPUP "SUB"
  {
    MENUITEM "ResetNotUseTimer",  33042
  }
}

217 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "Cut Event\t&X",  32978
    MENUITEM "Copy Event\t&C",  32979
    MENUITEM "Copy Multiple Event\t&M",  32980
    MENUITEM "Paste Event\t&V",  32981
    MENUITEM "Delete\t&Del",  32982
  }
}

218 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "Cut\t&X",  32983
    MENUITEM "Copy\t&C",  32984
    MENUITEM "Copy Multiple\t&M",  32985
    MENUITEM "Paste\t&V",  32986
    MENUITEM "Delete\t&Del",  32987
    MENUITEM SEPARATOR
    MENUITEM "Export Type Definition to File",  32988
    MENUITEM "Export Type and All Data to File",  32989
  }
}

219 MENUEX
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU", 65535, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "Cut\t&X", 32990, MFT_STRING, MFS_ENABLED
    MENUITEM "Copy\t&C", 32991, MFT_STRING, MFS_ENABLED
    MENUITEM "Copy Multiple\t&M", 32992, MFT_STRING, MFS_ENABLED
    MENUITEM "Paste\t&V", 32993, MFT_STRING, MFS_ENABLED
    MENUITEM "Delete\t&Del", 32994, MFT_STRING, MFS_ENABLED
    MENUITEM "", 0, MFT_SEPARATOR, MFS_ENABLED
    MENUITEM "Export Data to File", 32995, MFT_STRING, MFS_ENABLED
    MENUITEM "Export Data as CSV File", 32996, MFT_STRING | MFT_RIGHTJUSTIFY, MFS_ENABLED
  }
}

220 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "Create New Map\t(&N)",  33007
    MENUITEM "Copy Map\t(&C)",  33013
    MENUITEM "Paste Map\t(&V)",  33014
    MENUITEM "Delete Map\t(&D)",  33015
    MENUITEM SEPARATOR
    MENUITEM "[←] Move to Parent Level\tShift+[←]",  33020
    MENUITEM "[→] Move to Child Level\tShift+[→]",  33017
    MENUITEM "[↑] Move Up\tShift+[↑]",  33018
    MENUITEM "[↓] Move Down\tShift+[↓]",  33019
  }
}

