LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

127 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "Arquivo(&F)"
  {
    MENUITEM "Novo Mapa",  32819
    MENUITEM "Carregar Mapa",  57601
    MENUITEM "Salvar Mapa\tCtrl+S(&S)",  57603
    MENUITEM "Salvar como(&A)...",  57604
    MENUITEM SEPARATOR
    MENUITEM "[Pro]Criar encripta\xE7\xF5es individuais(.wolfx)",  33076
    MENUITEM "Criar Game Data(&G)",  32846
    MENUITEM SEPARATOR
    MENUITEM "Sair do Editor(&X)",  57665
  }
  POPUP "Editar(&E)"
  {
    MENUITEM "Cortar Evento\tX",  57635
    MENUITEM "Copiar Evento\tC",  57634
    MENUITEM "Colar Evento\tV",  57637
    MENUITEM "Deletar\tDel or BS",  32794
    MENUITEM "Configurar Mapa",  32814
  }
  POPUP "Visualizar(&V)"
  {
    MENUITEM "Barra de Ferramenta(&T)",  59392
    MENUITEM "Editor de Tileset",  32792
    MENUITEM "System Database (Dados Centrais)",  32797
    MENUITEM "User Database (Dados com valor fixo)",  32790
    MENUITEM "Variables Database (Dados Vari\xE1veis)",  32831
    MENUITEM "Commom Events",  32815
    MENUITEM "Sele\xE7\xE3o de mapa",  32823
    MENUITEM "Lista de tarefa",  33108
  }
  POPUP "Camadas"
  {
    MENUITEM "Camada 1",  32771
    MENUITEM "Camada 2",  32772
    MENUITEM "Camada 3",  32773
    MENUITEM "Camada 4",  33084
    MENUITEM "Camada 5",  33085
    MENUITEM "Eventos",  32774
  }
  POPUP "Configura\xE7\xE3o do jogo"
  {
    MENUITEM "Abra o Game Settings",  32830
    MENUITEM "Abra o Game Settings [Pro]",  33066
    MENUITEM "Definir Chave de Prote\xE7\xE3o [Pro]",  33069
    MENUITEM SEPARATOR
    MENUITEM "Mudar a configura\xE7\xE3o do Game.exe",  32865
    MENUITEM "Usar o Debug [Check=Em uso]",  32942,  CHECKED
  }
  POPUP "Op\xE7\xF5es"
  {
    MENUITEM "Op\xE7\xF5es do editor",  32943
  }
  POPUP "Ajuda(&H)"
  {
    MENUITEM "Informa\xE7\xE3o de Vers\xE3o(&A)",  57664
    MENUITEM "Abrir o site oficial do WOLF RPG Editor(JPN)",  32871
    POPUP "└Refer\xEAncias de Vari\xE1veis/Caracteres Especiais"
    {
      MENUITEM "Abrir a p\xE1gina de valores da vari\xE1vel",  33090
      MENUITEM "Abrir a p\xE1gina de caracteres especiais",  33092
    }
    MENUITEM "Manual (JPN)(&M)",  32861
    MENUITEM "Guia Perfeito (JPN)",  32872
    MENUITEM "Abrir Janela de Log",  33073
  }
}

146 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "Comando de Movimento"
  {
    MENUITEM "Mover para Baixo",  32798
    MENUITEM "Mover para Esquerda",  32799
    MENUITEM "Mover para Direita",  32800
    MENUITEM "Mover para Cima",  32801
    MENUITEM "Mover para Esquerda-Baixo",  32802
    MENUITEM "Mover para Direita-Baixo",  32803
    MENUITEM "Mover para Esquerda-Cima",  32804
    MENUITEM "Mover para Direita-Cima",  32805
  }
  POPUP "Comando de dire\xE7\xE3o"
  {
    MENUITEM "Olhar para Baixo",  32806
    MENUITEM "Olhar para Esquerda",  32807
    MENUITEM "Olhar para Direita",  32808
    MENUITEM "Olhar para Cima",  32809
    MENUITEM "Olhar para Esquerda-Baixo",  32810
    MENUITEM "Olhar para Direita-Baixo",  32811
    MENUITEM "Olhar para Esquerda-Cima",  32812
    MENUITEM "Olhar para Direita-Cima",  32813
  }
  POPUP "Editar"
  {
    MENUITEM "Cortar\t&X",  33048
    MENUITEM "Copiar\t&C",  33050
    MENUITEM "Colar\t&V",  33052
    MENUITEM "Deletar\t&Del",  33054
  }
}

172 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "TEST"
  {
    MENUITEM "Criar/Editar Evento",  32852
    MENUITEM SEPARATOR
    MENUITEM "Cortar Evento\t&X",  57635
    MENUITEM "Copiar Evento\t&C",  57634
    MENUITEM "Colar Evento\t&V",  57637
    MENUITEM "Deletar\t&Del",  32794
    MENUITEM SEPARATOR
    MENUITEM "Abrir a configura\xE7\xE3o deste Mapa",  32814
    MENUITEM "Atualizar o Mapa",  32818
    POPUP "Outros op\xE7\xF5es de mapa"
    {
      MENUITEM "Criar novo Mapa",  33083
      MENUITEM "Abrir Lista de Mapa",  32823
    }
    MENUITEM SEPARATOR
    MENUITEM "Colocar o Ponto Inicial",  32855
    MENUITEM "Salvar a Posi\xE7\xE3o no DB",  32853
  }
}

216 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "Abrir Janela de inser\xE7\xE3o\t&Enter",  32954
    MENUITEM "Editar Comando\t(Ctrl+)&Space",  32953
    MENUITEM "Pegar o cont\xEAudo para janela de inser\xE7\xE3o\t&Ctrl+Shit+Space",  33089
    MENUITEM SEPARATOR
    MENUITEM "Excluir\t&X",  32946
    MENUITEM "Copiar\t&C",  32958
    MENUITEM "Colar\t&V",  32959
    MENUITEM "Deletar\t&Del",  32960
    MENUITEM "Selecionar tudo\t&A",  33044
    MENUITEM SEPARATOR
    MENUITEM "Reduzir/Expandir\t&E",  33094
    POPUP "Reduzir/Expandir Tudo"
    {
      MENUITEM "Reduzir Tudo",  33096
      MENUITEM "Expandir Tudo",  33097
    }
    MENUITEM "Extender com loop (0 vezes)\t&Q",  33101
    MENUITEM "Mudar frequ\xEAncia do loop para 0\t&Q",  33102
    MENUITEM "Mudar frequ\xEAncia do loop para 1\t&Q",  33103
    MENUITEM "Pule para pr\xF3xima linha \t&G (Shift+G: Linha anterior)",  33095
    MENUITEM SEPARATOR
    MENUITEM "Copiar a Cadeia(String) do Comando\tCtrl+Shift+C",  32962
    MENUITEM "Copiar o C\xF3digo do Evento\tCtrl+Alt+C",  32963
    MENUITEM "Colar o C\xF3digo do Evento\tCtrl+Alt+V",  32957
  }
  POPUP "SUB"
  {
    MENUITEM "ResetNotUseTimer",  33042
  }
}

217 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "Cortar Evento\t&X",  32978
    MENUITEM "Copiar Evento\t&C",  32979
    MENUITEM "M\xFAltiplas C\xF3pias de Eventos\t&M",  32980
    MENUITEM "Colar Evento\t&V",  32981
    MENUITEM "Deletar\t&Del",  32982
  }
}

218 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "Cortar\t&X",  32983
    MENUITEM "Copiar\t&C",  32984
    MENUITEM "M\xFAltiplas C\xF3pias\t&M",  32985
    MENUITEM "Colar\t&V",  32986
    MENUITEM "Deletar\t&Del",  32987
    MENUITEM SEPARATOR
    MENUITEM "Exportar o Tipo no Arquivo",  32988
    MENUITEM "Exportar o Tipo e todos os Dados no Arquivo",  32989
  }
}

219 MENUEX
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU", 65535, MFT_STRING, MFS_ENABLED, 0
  {
    MENUITEM "Cortar\t&X", 32990, MFT_STRING, MFS_ENABLED
    MENUITEM "Copiar\t&C", 32991, MFT_STRING, MFS_ENABLED
    MENUITEM "Multi-C\xF3pia\t&M", 32992, MFT_STRING, MFS_ENABLED
    MENUITEM "Colar\t&V", 32993, MFT_STRING, MFS_ENABLED
    MENUITEM "Deletar\t&Del", 32994, MFT_STRING, MFS_ENABLED
    MENUITEM "", 0, MFT_SEPARATOR, MFS_ENABLED
    MENUITEM "Exportar Dado para arquivo", 32995, MFT_STRING, MFS_ENABLED
    MENUITEM "Exportar Dado para arquivo CSV", 32996, MFT_STRING | MFT_RIGHTJUSTIFY, MFS_ENABLED
  }
}

220 MENU
LANGUAGE LANG_JAPANESE, 0x1
{
  POPUP "EDITMENU"
  {
    MENUITEM "Criar Novo Mapa(&N)",  33007
    MENUITEM "Copiar Mapa(&C)",  33013
    MENUITEM "Colar Mapa(&V)",  33014
    MENUITEM "Deletar Mapa(&D)",  33015
    MENUITEM SEPARATOR
    MENUITEM "[←] Mover para Atr\xE1s\tShift+[←]",  33020
    MENUITEM "[→] Mover para Frente\tShift+[→]",  33017
    MENUITEM "[↑] Mover para Cima\tShift+[↑]",  33018
    MENUITEM "[↓] Mover para Baixo\tShift+[↓]",  33019
  }
}

